*{box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;}
*{margin:0px; padding:0px;}


.wtop{
	width: 100%;
	height: 300px;
	border:1px solid #999;
	display: flex;
	flex-flow:row wrap;  /*表示的是flex-diirection,flex-wrap*/
	align-items:center;
	justify-content:space-around;
}
.wtop .box{
	width: 150px;
	border:1px solid #f00;
	
	
	/*align-content:center;*/
}
.fir{/*height: 120px;*/flex:1 120px;}
.sec{/*height: 100px;*/flex:1 100px;}
.third{/*height: 40px;*/flex:1 40px;}
.four{/*height: 200px;*/border:1px solid #0f0!important;flex:1 200px;}

@media screen and (max-width: 640px){
	/*.wtop{ justify-content:flex-start;}*/
	.four{order:-1;}
}